body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}
.container {
    padding: auto 15px;
    margin: 0 auto;
}

/*Start Header*/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu {
    color: rgb(37, 28, 28);
    font-size: 22px;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: rgb(55, 160, 187);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: rgb(24, 94, 7);
    border-bottom: 1px solid rgb(50, 50, 53);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translate(-50%);
    right: 0;
}
/*End Header*/